<header>
	<div class="header-content">
		<div id="menu" class="menu">
			<div></div>
			<div></div>
			<div></div>
			<span>Menu</span>
		</div>
		<div class="logo">Logo</div>
	</div>
</header>


<nav id="sidenav" class="sidenav">
	<ul class="nav">
		<li class="nav-t">
			<small>Adventure</small>
		</li>
		<li>
			<a href="#">06</a>
		</li>
		<li>
			<a href="{{site.url}}/rides">Archive</a>
		</li>
		<li class="nav-divider"></li>
		<li class="nav-t">
			<small>The Club</small>
		</li>
		<li>
			<a href="#">About</a>
		</li>
		<li>
			<a href="#">People</a>
		</li>
		<li class="active">
			<a href="#">Disclaimer</a>
		<li>
		<li class="nav-divider"></li>
		<li class="nav-t">
			<small>Connect</small>
		</li>
		<li>
			<a href="#">Meetup</a>
		</li>
		<li>
			<a href="#">Instagram</a>
		</li>
		<li>
			<a href="#">Electronic Mail</a>
		</li>
		<li class="nav-divider"></li>
		<li class="nav-t">
			<small>Store</small>
		</li>
		<li>
			<a href="#">Decal</a>
		</li>
	</ul>
</nav>	