//
// Responsive
//
@media screen and (min-width: 1440px) {
	.gallery-images {
		width: 75%;
	}
	.gallery-thumbnails {
		width: 25%;
	}

}

@media screen and (max-width: 960px) {
	.gallery-images,.gallery-thumbnails {
		width: 100%;
	}
}
