@charset "UTF-8";
body {
  background: #ece3d1; }

.sidenav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 250px;
  padding-top: 30px;
  background-color: #1a3d4d;
  display: none !important; }

.content {
  background: #fff;
  -webkit-transition: transform 300ms cubic-bezier(0.2, 0.7, 0.5, 1);
  transition: transform 300ms cubic-bezier(0.2, 0.7, 0.5, 1); }
  .content img {
    display: block;
    width: 100%;
    margin-bottom: 1rem; }

body.open {
  overflow: hidden; }
  body.open .sidenav {
    display: block !important; }
  body.open .content {
    -webkit-transform: translateX(250px);
    transform: translateX(250px); }

.row {
  width: 100%; }

.nav-t {
  padding-left: 34px; }

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500; }

.nav > li {
  float: none;
  margin-left: 0; }
  .nav > li small {
    color: #66888e; }
  .nav > li > a {
    display: block;
    padding: 5px 10px 5px 30px;
    border-bottom: 0;
    border-left: 4px solid transparent;
    color: #FFF; }

.nav li.active > a {
  border-left-color: #e4b874;
  font-weight: 700;
  color: #fff; }

.nav-divider {
  height: 1px;
  margin: 10px 0;
  overflow: hidden;
  background-color: #ece3d1;
  margin-left: 34px !important;
  margin-right: 34px !important;
  margin-top: 20px;
  margin-bottom: 25px; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 1em; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.hero {
  display: table;
  width: 100%;
  height: 110vh; }

.hero-copy {
  display: table-cell;
  vertical-align: middle; }

.sections {
  position: relative;
  width: 100%;
  padding: 60px 30px;
  color: inherit;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0; }

.swiper-container {
  width: 100%;
  /*
	height: 110vh;
	*/ }

.swiper-slide img {
  width: 100%; }

.swiper-button-next, .swiper-button-prev {
  height: 100%;
  width: 10%;
  top: 0;
  margin: 0;
  background: none !important; }

.swiper-button-prev {
  left: 0; }

.swiper-button-next {
  right: 0; }

.text-center {
  text-align: center; }

.ending-photo {
  width: 100%; }
  .ending-photo img {
    margin: 0; }

footer {
  background: #1a3d4d;
  color: #FFF; }

.thumbnail {
  width: 120px;
  height: 120px;
  background: #000;
  float: left; }
  .thumbnail img {
    opacity: 0.7;
    transition: opacity 0.3s; }
  .thumbnail img:hover {
    opacity: 1; }

.thumbnail.active img {
  opacity: 1; }

.gallery {
  margin: 0; }

.gallery-images, .gallery-thumbnails {
  float: left; }

.gallery-images {
  width: 66.666%; }

.gallery-thumbnails {
  width: 33.333%; }

p {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58; }

.timeline {
  border-left: 4px solid red;
  padding: 0; }
  .timeline li {
    list-style: none;
    margin: 0px;
    padding-left: 4px;
    margin-left: 8px;
    position: relative; }
  .timeline li.start {
    position: relative;
    top: -6px; }
  .timeline li.end {
    position: relative;
    top: 6px; }
  .timeline li.start:before, .timeline li.stop:before, .timeline li.end:before {
    content: "•";
    /* Insert content that looks like bullets */
    margin: 0;
    padding-right: 8px;
    font-size: 72px;
    position: absolute;
    left: -22px;
    top: 12px;
    line-height: 0;
    color: green;
    /* Or a color you prefer */ }
  .timeline li.spacer, .timeline li.spacer-1 {
    height: 1em; }
  .timeline li.spacer-2 {
    height: 2em; }
  .timeline li.spacer-3 {
    height: 3em; }
  .timeline li.spacer--4 {
    height: 4em; }
  .timeline li.spacer--5 {
    height: 5em; }
  .timeline li.note:before {
    content: "•";
    margin: 0;
    padding-right: 8px;
    font-size: 46px;
    position: absolute;
    left: -18px;
    top: 12px;
    line-height: 0;
    color: blue;
    /* Or a color you prefer */ }

.stats {
  background: #4d6572;
  color: #fff; }

@media screen and (max-width: 960px) {
  .gallery-images, .gallery-thumbnails {
    width: 100%; } }
