---
---

{% include header.html %}
<body>
	{% include nav.html %}
	<div class="content">
		<div id="hero" class="hero sections " style=" background-image: url('http://bootstrap-themes.github.io/marketing/assets/img/startup-1.jpg');">
			<div class="hero-copy">
				<div>
		          
		        </div>
			</div>
		</div>
		
		<h1>asdf</h1>
		<a href="{{ post.url }}">{{ post.title }}</a>
		{{ content }}
		
		<a href="#" class="col-md-4">
			<div class="hover-action">
				<span class="action-slash"></span>
				<img src="http://placekitten.com/200/300">
			</div>
		</a>
	</div>
{% include footer.html %}